@charset "UTF-8";
/* CSS Document */
/* top */
header {
	background-image: url("../img/header_main.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
.top_header {
	position: relative;
	min-height: 880px;
}
.top_header::before {
	position: absolute;
	bottom: 150px;
	left: 50%;
	transform: translateY(0%) translateX(-50%);
	-webkit-transform: translateY(0%) translateX(-50%);
	content: "";
	width: 100%;
	height: 30px;
	background: #4d4d4d;
}
header .head_nav_inner {
	width: 100%!important;
	max-width: 1280px!important;
	padding: 0 20px 0 20px;
	margin: 0 auto 0 auto!important;
	position: fixed;
	top: 0;
	left: 50%;
	transform: translateY(0%) translateX(-50%);
	-webkit-transform: translateY(0%) translateX(-50%);
	z-index: 999;
}
header .head_nav_inner ul {
	justify-content: space-between;
	align-items: stretch;
}
header .head_nav_inner ul .head_logo img {
	margin: 20px 0 0 0;
	height: 30px;
	filter: drop-shadow(0px 0px 2px rgba(0,0,0,0.6));
}
header .head_nav_inner ul .head_contact {
	width: 100px;
	filter: drop-shadow(0px 0px 2px rgba(0,0,0,0.6));
}
header .year_message {
	position: absolute;
	bottom: 60px;
	left: 50%;
	transform: translateY(0%) translateX(-50%);
	-webkit-transform: translateY(0%) translateX(-50%);
}
header .year_message .inner {
	width: 100%;
	max-width: 450px;
	margin: 0 auto 0 auto;
}
header .year_message .inner h2 {
	font-family: "DIN Condensed Bold";
	text-align: center;
	font-size: 70px;
	line-height: 90px;
}
header .year_message .inner h2 span {
	background: #ffffff;
	padding: 20px 20px 0px 20px;
}
header .year_message .inner p {
	text-align: center;
	font-size: 24px;
	font-weight: bold;
	font-weight: 700;
	line-height: 37px;
}
header .year_message .inner p span {
	background: #ffffff;
	padding: 10px 20px 10px 20px;
}
.child_header {
	position: relative;
	min-height: 880px;
}
header .child_message {
	position: absolute;
	bottom: 60px;
	left: 50%;
	transform: translateY(0%) translateX(-50%);
	-webkit-transform: translateY(0%) translateX(-50%);
}
header .child_message .inner {
	width: 100%;
	max-width: 450px;
	margin: 0 auto 0 auto;
}
@media screen and (min-width:1280px) {
	header {
		background-position: top center;
	}
	.top_header {
		position: relative;
		min-height: 1400px;
	}
	.top_header::before {
		bottom: 350px;
	}
	header .year_message {
		bottom: 260px;
	}
}
@media screen and (max-width:960px) {
	header {
		background-image: url("../img/header_main-medium.jpg");
	}
	.top_header {
		min-height: 900px;
		height: auto;
	}
	.top_header::before {
		bottom: 130px;
		height: 30px;
	}
	header .year_message {
		bottom: 40px;
	}
	header .year_message .inner h2 {
		font-size: 50px;
		line-height: 60px;
	}
	header .year_message .inner h2 span {
		padding: 10px 20px 0px 20px;
	}
	header .year_message .inner p {
		font-size: 18px;
		line-height: 25px;
	}
	header .year_message .inner p span {
		padding: 10px 20px 10px 20px;
	}
	.child_header {
		min-height: 900px;
		height: auto;
	}
}
@media screen and (max-width:760px) {
	.top_header {
		min-height: 700px;
	}
	.child_header {
		min-height: 700px;
	}
}
@media screen and (max-width:620px) {
	header {
		background-image: url("../img/header_main-small.jpg");
	}
	.top_header {
		min-height: 500px;
	}
	.top_header::before {
		bottom: 90px;
		height: 15px;
	}
	header .head_nav_inner ul .head_logo img {
		height: 20px;
	}
	header .head_nav_inner ul .head_contact {
		width: 80px;
	}
	header .year_message {
		bottom: 40px;
	}
	header .year_message .inner h2 {
		font-size: 30px;
		line-height: 40px;
	}
	header .year_message .inner h2 span {
		padding: 10px 10px 0px 10px;
	}
	header .year_message .inner p {
		font-size: 13px;
		line-height: 28px;
	}
	header .year_message .inner p span {
		padding: 10px 10px 10px 10px;
	}
	.child_header {
		min-height: 500px;
	}
}
@media screen and (max-width:380px) {
	.top_header {
		min-height: 450px;
	}
	.child_header {
		min-height: 450px;
	}
}
@media screen and (max-width:355px) {

}